.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-height: 60px;
  }
  .navbar {
    height: 60px;
    background-color: black;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    color: white;
    display: flex;
    align-items: center;
  }
  @keyframes slideInFromLeftWithOpacity {
    0% {
      transform: translateX(-100%); 
      opacity: 0;
    }
    100% {
      transform: translateX(0); 
      opacity: 1; 
    }
  }
  .logo img {
    height: 50px;
    width:fit-content;
    object-fit: fill;
    position: absolute;
    left: 20px;
    top: 5px;
    animation: slideInFromLeftWithOpacity 1.5s ease-out forwards;  
  }
  .menu-icon {
    display: none;
    cursor: pointer;
    z-index: 100;
  }
  .nav-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  .nav-elements ul li:not(:last-child) {
    margin-right: 60px;
  }
  .nav-elements ul a {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-elements ul a:hover {
    background-color: #f0f0f0;
    color: #574c4c;
  }
  .nav-elements ul a.active {
    color: #574c4c;
    font-weight: 500;
    position: relative;
  }
  .nav-elements ul a.active::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #574c4c;
  }
  .logout-button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    text-decoration: underline;
    padding: 10px 15px;
    border-radius: 5px;
    width: auto;
  }
  @media (max-width: 768px) {
    .nav-elements ul li:not(:last-child) {
      margin-right: unset;
    }
  }
  @media (max-width: 850px) {
    @keyframes slideInFromRight {
        0% {
          transform: translateX(100%);
          opacity: 0;
        }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }
    .menu-icon {
      display: block;
      cursor: pointer;
      animation: slideInFromRight 1.5s ease-out forwards;
      position: absolute;
      right: 20px;
    }
    .nav-elements {
      position: absolute;
      right: 0;
      top: 60px;
      background-color: black;
      width: 0px;
      height: calc(100vh - 60px);
      transition: all 0.3s ease-in-out;
      overflow: hidden;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      padding: 20px 0;
    }
    .nav-elements.active {
      width: 270px;
    }
    .nav-elements ul {
      flex-direction: column;
      align-items: center;
      gap: 15px;
      padding: 0;
      margin: 0;
    }
    .nav-elements ul li {
      margin-right: unset;
      width: 100%;
      text-align: center;
    }
    .nav-elements ul a {
      padding: 15px 20px;
      font-size: 18px;
      color: white;
      border-radius: 5px;
      transition: background-color 0.3s ease, color 0.3s ease;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .nav-elements ul a:hover {
      background-color: #f0f0f0;
      color: #574c4c;
    }
    .nav-elements ul a.active {
      background-color: #f0f0f0;
      color: #7c4585;
    }
  }
  