.content {
    color: white;
    margin: 0 25px;
}
div.post-page h1 {
    text-align: center;
    width: 100%;
    color: white;
}
div.post-page time {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1rem;
    color: white;
}
div.post-page div.author {
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.7rem;
    font-weight: bold;
    color: white;
    width: 100%;
}
div.post-page div.image {
    width: 50%;
    display: flex;
    overflow: hidden;
    margin-left: 25%;
}
div.edit-row {
    text-align: center;
    margin-bottom: 20px;
    overflow-wrap: break-word;
    white-space: normal;
}

div.post-page h1 {
    font-size: 1.5rem; 
    text-align: center;
    margin: 10px 0;
    overflow-wrap: break-word;
    white-space: normal; 
}
@media(max-width:768px){
  div.post-page h1 {
        font-size: 1.5rem; 
        text-align: center;
        margin: 10px 0;
        overflow-wrap: break-word;
        white-space: normal; 
  }
  div.post-page time,
  div.post-page div.author {
        font-size: 0.8rem; 
        text-align: center;
  }
  div.post-page div.image {
        max-height: 200px; 
        width: 200px;
        margin-left: auto;
        margin-right: auto;
  }
}
/* post */
  .texts h2 {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    color: #333;
    text-align: left;
  }
  
  .info {
    margin: 10px 0;
    color: #666;
    font-size: 14px;
    text-align: left;
  }
  

  @media (max-width: 600px) {
    .post {
      flex-direction: column;
      align-items: center;
      text-align: left;
    }
  
    .image img {
      width: 100%;
      max-height: 200px;
    }
  
    .texts {
      width: 100%;
    }
  
    .texts h2 {
      font-size: 20px;
      margin-top: 10px;
      text-align: left;
    }
  
    .info {
      display: flex;
      flex-direction: column;
      font-size: 13px;
      gap: 2px;
    }
  
    .author {
      font-size: 14px;
    }
  
    .summary {
      font-size: 15px;
    }
  }
  

  div.post-page div.image img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
  }
  
  @media (max-width: 768px) {
   
    div.post-page div.image img {
      width: 200px;
      height: auto;
    }
  
    div.content {
        max-width: 90vw; 
        padding: 10px;
        box-sizing: border-box; 
    }
  
    div.content p {
      font-size: 14px; 
      line-height: 1.5rem;
      margin: 20px 0; 
      overflow-wrap: break-word;
      white-space: normal; 
    }
  
    div.content li {
      font-size: 14px; 
      margin-bottom: 8px; 
      overflow-wrap: break-word;
      white-space: normal;
    }
  

  
  
  
    div.post-page div.author {
      margin-bottom: 15px;
    }
  
    div.post-page a.edit-btn {
      padding: 10px 20px;
      font-size: 14px;
      text-align: left;
      
    }
  }
  
  
  @media (max-width: 768px){
    div.post div.image {
      max-height: 200px; 
      width: 200px;
    }
  
    div.post div.image img {
      width: 200px;
      height: auto;
    }
  }
  
  div.post-page a {
    color: #333;
    text-decoration: underline;
  }


  div.content p {
    line-height: 1.7rem;
    margin: 30px 0;
    overflow-wrap: break-word;
    white-space: normal;
  }
  div.content li {
    margin-bottom: 10px;
    overflow-wrap: break-word;
    white-space: normal;
  }
  div.post-page a.edit-btn {
    background-color: #333;
    display: inline-flex;
    align-items: left;
    gap: 5px;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
  }
  a svg {
    height: 20px;
  }  
  div.post div.texts a {
    text-decoration: none;
  }

  div.post p.info a.author {
    color: #333;
  }
